/* Practice Layout */

body, html{
	font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img {
	float: left;
  margin: 0 15px 5px 0;
  border: solid 1px #bbb;
}

#top-nav{
	background: #efefef;
	padding: 0 1.5em;
}

#top-nav ul{
	list-style: none;
	margin:0;
	padding: 0px;
}

#top-nav li{
	display: inline;
}

.fp-container{
	width: 1200px;
	margin: 0px auto;
}

.fp-article{
	box-sizing: border-box;
	padding: 1.5em;
	width: 50%;
	float: right;
	background: #fff59d;
}

.fp-aside{
	background: #ffffcf;
	box-sizing: border-box;
	float: left;
	height: 744px;
	padding: 1.5em;
	width: 50%;
}

.fp-aside input{
	border-radius: 8px;
	box-sizing: border-box;
	margin-bottom: 10px;
	width: 100%;
}

.fp-aside ul{
	list-style: none;
	margin:0;
	padding: 0px;
}

.fp-bottom-section{
	box-sizing: border-box;
	background: #ffffcf;
	padding: 1.5em;
	overflow: auto;
}

.fp-bottom-section img{
	height: 100px;
	width: 100px;
}

.fp-first-letter-mayus{
	margin-bottom: 10px;
	overflow: auto;
	padding-top: 10px;
}

.fp-bottom-section .fp-first-letter-mayus p{
	box-sizing: border-box;
	height: auto;
}

.fp-bottom-section .fp-first-letter-mayus p::first-letter{
	float: left;
	font-size: 4em;
}

.fp-div-border{
	border: 2px solid green;
	box-sizing: border-box;
	display: inline-flex;
	padding: 10px;
	width: 100%;
}
.fp-div-border p{
	width: 90%;
}

.fp-gallery{
	background: #ffee58;
	box-sizing: border-box;
	clear: both;
	overflow: auto;
	padding: 1.5em;
	width: 100%;
}

.fp-gallery h2, .fp-aside h2{
	font-size: 1.5em;
	margin:0px;
}

.fp-gallery img{
	width: 200px;
	height: 200px;
}

.fp-gallery ul {
	list-style: none;
}
.fp-gallery li{
	float: left;
}

.fp-header{
	background-color: #c9bc1f;
}

.fp-header h1{
	padding-left: 0.8em;
	font-size: 2em;
	margin: 0;
}
