footer{
  background-color: #9370DB;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

footer a{
  color: inherit;
}

footer ul{
  display: flex;
  flex-direction: row;
}

footer ul li{
  height: 60px;
  line-height: 60px;
  padding: 0px 10px 0px 0px;
}

.fx-information-container{
  display: flex;
  flex-direction: column;
}

.fx-information-element{
  display: block;
  margin: 0px 0px 30px 0px;
  position: relative;
}

.fx-information-element h3{
  box-sizing: bofxer-box;
  cursor: pointer;
  font-size: 1em;
  height: 65px;
  line-height: 65px;
  position: relative;
  width: 100%;
}

.fx-information-element h3::after{
  content: '\E5CF';
  font-family: 'Material Icons';
  position: absolute;
  right: 0px;
  top: 0px;
}

.fx-information-element input{
  height: 65px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.fx-information-element input:checked + .fx-content-information{
  display: block;
}

.fx-content-information{
  display: none;
  padding: 0px 30px 00px 0px;
}

.fx-content-information img{
  height: 100px;
  width: 100px;
}

.fx-content-information p{
  padding: 0px 0px 30px 0px;
}

.fx-content-calendar{
  display: flex;
  flex-direction: column;
}

.fx-content-calendar > div{
  bofxer-bottom: 1px solid #FFFFFF;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  line-height: 40px;
  opacity: 0.7;
}

/* Media Queries*/

@media (min-width: 480px) {

}

@media (min-width: 720px) {

}

@media (min-width: 990px) {
  .fx-information-container{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fx-information-element{
    width: 50%;
  }

  .fx-information-element h3::after{
    content: '';
  }

  .fx-content-information{
    display: block;
  }
}

@media (min-width: 1200px) {
  .fx-information-element{
    width: 25%;
  }
}
