/* Practice Layout */
body,
html {
  color: #787878;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.cb-container{
	box-shadow: 0 48px 80px -32px #888888;
	display: flex;
	flex-wrap: wrap;
	margin: 0 30px;
	width: 700px;
}


h2{
  font-size: 1.3em;
  font-weight: bold;
}

h3{
  font-size: 1em;
  font-weight: bold;
}
/* Tabs*/

.cb-container > input{
	opacity: 0;
	order: 1;
	position: absolute;
}

.cb-container > input:checked + label{
	background-color: white;
	color: black;
}

.cb-container > label{
	background-color: #E5E5E5;
	color: #7F7F7F;
	font-size: 1em;
	order: 1;
	padding: 15px 25px;
}

.cb-container > label:hover{
	background-color: #D8D8D8;
}

/*Details*/

.cb-information{
  display: none;
	order: 2;
	padding: 30px;
}

input:checked + label + .cb-information{
  display: block;
}

.cb-selected-elements{
	background-color: white;
  box-shadow: 0 1px 2px #888888;
  height: 250px;
  margin: 10px;
  padding: 20px;
	width: 200px;
}

.cb-selected-elements  label{
	display: inline-block;
	margin-bottom: 15px;
  padding-left: 30px;
	position: relative;
}

.cb-input{
	opacity: 0;
	position: absolute;
  z-index: -1;
}

.cb-default-chooser{
	background: #E6E6E6;
	height: 20px;
	left: 0;
	position: absolute;
  width: 20px;
  top: 2px;
}

label:hover > .cb-default-chooser{
	background: #CCCCCC;
}

.cb-input:checked ~ .cb-default-chooser{
	background: #2aa1c0;
	color: white;
	content: "\2713 ";
}

.cb-input:checked ~ .cb-default-chooser:after{
	color: white;
	content: "\2713 ";
}

.cb-input:disabled ~ .cb-default-chooser{
	background-color: #E6E6E6;
	opacity: 0.6;
	pointer-events: none;
}

.cb-radio{
  border-radius: 50%;
}

input[type="radio"]:checked ~ .cb-default-chooser{
	background: #2aa1c0;
	color: white;
	content: "\2022";
}

input[type="radio"]:checked ~ .cb-default-chooser:after{
	color: white;
	content: "\2022";
}

input[type="radio"]:disabled ~ .cb-default-chooser{
	background-color: #E6E6E6;
	opacity: 0.6;
	pointer-events: none;
}

/* Cards */

.cb-cards ul{
  list-style: none;
  width: 500px;
}

.cb-cards li img{
  float: left;
  height: auto;
  margin-right: 10px;
  width: 100px;

}

.cb-cards li p{
  font-size: 0.75em;
}

.cb-cards li{
  overflow: hidden;
}

.cb-cards li:hover{
  background-color: #EEEEEE;
  cursor: pointer;
}

.cb-cards label{
  float: right;
  position: relative;
  width: 20px;
}
